services:
  frontend_app:
    build:
      dockerfile: frontend.Dockerfile
      context: frontend/
    ports:
      - "3000:3000"
    depends_on:
      backend_app:
        condition: service_started
  backend_app:
    build:
      dockerfile: backend.Dockerfile
      context: backend/
    ports:
      - "443:443"
    depends_on:
      database:
        condition: service_healthy
        restart: true
  database:
    build:
      dockerfile: database.Dockerfile
      context: database/
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 3663
      POSTGRES_DB: bugboard26
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}" ]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 10s