.app-footer {
    width: 100%;
    background-color: #002060;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'NeueHaasGroteskDisp Pro', sans-serif;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    font-size: 10pt;
}

.footer-logo {
    width: 100px;
    height: auto;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1px;
    font-size: 10pt;
    text-align: right;
    margin-top: 30px;
}

.footer-left p {
    margin: 5px;
}
.footer-right p {
    margin: 2px;
}

.nomeSocietà {
    text-align: left;
    font-family: 'NeueHaasGroteskDisp Pro Md', sans-serif;
    font-size: 20pt;

}

.footer-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.social-icons a {
    color: white;
    font-size: 22px;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), color 0.3s ease;;
    display: inline-block;
}

.social-icons a:hover {
    color: #f6f6f6;
    transform: scale(1.3);
}

@media (max-width: 768px) {
    .app-footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .footer-right {
        align-items: flex-start;
    }
}

.contatti-footer {
    font-family: 'NeueHaasGroteskDisp Pro Md', sans-serif;
    font-size: 10pt;
}

.seguici {
    font-family: 'NeueHaasGroteskDisp Pro', sans-serif;
    font-size: 8pt;
}

.social {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.note-copyright {
    margin-top: 14px;
}

.link-about {
    font-family: 'NeueHaasGroteskDisp Pro Md', sans-serif;
    font-size: 12pt;
    text-decoration: none;
    text-align: left;
    color: white;
    position: relative;
    transition: color 0.3s ease;
    display: inline-block;
    margin-left: 4px;
    margin-top: 20px;
}

.link-about::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 2px;
    right: 0;
    background: white;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.link-about:hover::after {
    width: 100%;
    left: 0;
    background: white;
}

.link-about:hover {
    color: #FFFFFF;
}
