:root {
    --size: 100px;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 50vh;
    animation: fadeIn 0.5s ease-in;
}

.loading-text {
    margin-top: 20px;
    font-family: "NeueHaasGroteskDisp Pro Md", sans-serif;
    color: #002060;
    font-size: 16pt;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.loading-logo-spinning {
    margin-bottom: 40px;

    animation: spin 1.5s linear infinite;
}