@font-face {
    font-family: "NeueHaasGroteskDisp Pro Md";
    src: url("./Fonts/NHaasGroteskDSPro-65Md.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    color: #002060;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-center {
    margin-left: auto;
    padding-left: 170px;
    display: flex;
    gap: 80px;
    align-items: center;
    position: relative;
}

.logo {
    width: 150px;
    height: 70px;
}

.nav-link {
    color: #002060;
    text-decoration: none;
    font-family: "NeueHaasGroteskDisp Pro Md", sans-serif;
    font-size: 18px;
    position: relative;
    padding-bottom: 2px;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    background-color: #002060;
    transition: width 0.3s ease;
}

.nav-link:hover::after, .nav-link.active:hover::after {
    width: 100%;
}

.profileMenu-container {
    position: relative;
}

.profile-button {
    display: flex;
    align-items: center;
    background-color: #002060;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    gap: 5px;
    position: fixed;
    right: 20px;
    top: 16px;
}

.profile-icon {
    font-size: 20pt;
    color: white;
}

.chevron-icon {
    color: white;
    font-size: 16pt;
}

.dropdown-menu{
    position: absolute;
    top: 100%;
    right: 50px;
    background-color: white;
    color: #002060;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    min-width: 150px;
    margin-top: 5px;
    z-index: 1000;
    font-family: "NeueHaasGroteskDisp Pro Md", sans-serif;
    font-size: 14pt;
}

.dropdown-menu a {
    padding: 10px 15px;
    color: #002060;
    text-decoration: none;
    transition: background-color 0.2s;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.info-utente {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 130px;
    margin-left: 280px;
}

.testo-utente {
    font-family: "NeueHaasGroteskDisp Pro", sans-serif;
    font-size: 12pt;
    text-align: right;
    margin-top: 24px;
}

.nome-utente {
    font-family: "NeueHaasGroteskDisp Pro Md", sans-serif;
    font-size: 20px;
    text-align: right;
    margin-top: -20px;
}

