.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    color: #002060;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
    box-sizing: border-box;
    justify-content: space-between;
}

.navbar-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.navbar-center {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.navbar-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    width: 150px;
    height: 70px;
}

.nav-link {
    color: #002060;
    text-decoration: none;
    font-family: "NeueHaasGroteskDisp Pro Md", sans-serif;
    font-size: 18px;
    position: relative;
    padding-bottom: 2px;
    white-space: nowrap;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -2px;
    height: 2.5px;
    background-color: #002060;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.nav-link:hover::after, .nav-link.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.profileMenu-container {
    position: relative;
    display: flex;
    align-items: center;
}

.profile-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profile-button {
    min-width: 60px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #002060;
    border-radius: 8px;
    padding: 5px 10px;
    cursor: pointer;
    gap: 8px;
    position: relative;
    right: auto;
    top: auto;
    transition: background-color 0.2s;
}

.profile-initial-circle {
    width: 28px;
    height: 28px;
    background-color: white;
    color: #002060;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "NeueHaasGroteskDisp Pro Md", sans-serif;
    font-size: 16pt;
    text-transform: uppercase;
    user-select: none;
}

.profile-icon {
    font-size: 20pt;
    color: white;
}

.chevron-icon {
    color: white;
    font-size: 16pt;
}

.dropdown-menu{
    position: absolute;
    top: 55px;
    right: 0;
    background-color: white;
    color: #002060;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    min-width: 160px;
    margin-top: 5px;
    z-index: 1000;
    font-family: "NeueHaasGroteskDisp Pro Md", sans-serif;
    font-size: 14pt;
    overflow: hidden;
}

.dropdown-menu a.menu-item {
    padding: 12px 16px;
    color: #002060;
    text-decoration: none;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    gap: 10px;
}


.dropdown-menu a.menu-item:hover {
    background-color: #f0f0f0;
}

.dropdown-menu a.link-logout {
    color: var(--danger-color);
    font-weight: 500;
    border-top: 1px solid #eee;
}

.dropdown-menu a.link-logout:hover {
    background-color: rgba(255, 0, 0, 0.08);
    color: rgb(200, 0, 0);
}

.info-utente {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}

.testo-utente {
    font-family: "NeueHaasGroteskDisp Pro", sans-serif;
    font-size: 12pt;
    text-align: right;
    margin: 0px;
    line-height: 1.2;
}

.nome-utente {
    font-family: "NeueHaasGroteskDisp Pro Md", sans-serif;
    font-size: 22px;
    text-align: right;
    margin: 0px;
    line-height: 1.2;
}

